html {
  min-height: 100%;
  position: relative;
}
body {
  background-color: #e4e6e9;
  min-height: 100%;
  padding-bottom: 0;
}
.navbar.navbar-static-top {
  margin-bottom: 0;
}
.container.main-layout {
  width: 100%;
  max-width: 1200px;
}
#main-container {
  padding: 0;
}
#main-container:before {
  display: block;
  content: "";
  position: absolute;
  z-index: -2;
  width: 100%;
  max-width: inherit;
  bottom: 0;
  top: 0;
  background-color: #FFF;
}
#page-content {
  padding: 15px;
}
