{% extends 'base/base.html' %}
{% load pipeline %}


{% block content %}
  <ul class="nav nav-tabs" id="#tabs">
    <li role="presentation" class="active">
      <a onclick="changeMenuActiveTab(this);">Все заказы</a>
    </li>
    <li role="presentation">
      <a onclick="changeMenuActiveTab(this);">Ожидающие</a>
    </li>
    <li role="presentation">
      <a onclick="changeMenuActiveTab(this);">Принятые</a>
    </li>
    <li role="presentation">
      <a onclick="changeMenuActiveTab(this);">Выполненные</a>
    </li>
  </ul>

  <div id="tasks-view">

  </div>
{% endblock %}


{% block extra_js %}


  {% include 'base/js_templates/task.html' %}

  {% javascript 'tasks' %}

{% endblock %}
